<ul>
    <li>
        <a href="#">About Us</a>
    </li>
    <li>
        <a href="#">How It Works</a>
    </li>
    <li>
        <a href="/holiday-styles">Holiday Styles</a>
    </li>
    <li>
        <a href="#">FAQ</a>
    </li>
    <li>
        <a href="#">Contact Us</a>
    </li>
</ul>
