<h2>WILDCARD</h2>
<p>Oh baby, baby, it's a wild world. If you're spontaneous and flexible in your travel style, pick a wild card! You'll go wherever you're meant to go.</p>
<a href="/holiday-styles/wildcard/budget">Budget</a>
<a href="/holiday-styles/wildcard/regular">Regular</a>
<a href="/holiday-styles/wildcard/luxury">Luxury</a>
