<h2>EXPERIENCE</h2>
<p>Don't just be a tourist, but a traveler. This is the best way to experience the local way of life and culture. Leave your worries and big shopping bags at home, and live like a local in a foreign town. Go on your Anywhr experience now.</p>
<a href="/holiday-styles/experience/experiencebudget">Budget</a>
<a href="/holiday-styles/experience/experienceregular">Regular</a>
<a href="/holiday-styles/experience/experienceluxury">Luxury</a>
