<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Anywhr Admin</h1>
    <a href="/about">About</a>
    <a href="/contactus">Contact</a>
    <a href="/backend/logout">Logout</a>
  </body>
</html>
